.features {
    background-color: getColor('white-logo-color');
}
  
.features-list {
    @extend .list;
    @include flexWrap;
    gap: 30px;

    @include desktop {
      flex-wrap: nowrap;
    }
 
    &__item {
      width: 100%;

      @include tablet {
        @include calc(30px, 2);
      }
      
      @include desktop {
        @include calc(30px, 4);
      }
    }
    
    &__frame {
      @include flexCenter;
      margin-bottom: 30px;
      height: 120px;
      background: getColor('secondary-bgc-color');
      border-radius: 4px;
    }

    &__title {
      margin-bottom: 10px;
      @include font(700, 14, 1.14, 0.03);
      text-transform: uppercase;
      color: getColor('title-text-color');
    }

    &__text {
      @include font (null, 14, 1.71, 0.03);
      text-align: start;
      color: getColor('primary-text-color');
    }
}