.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: getColor('hero-gradient'), url('/img/hero_bg_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: getColor('hero-ftr-bgc-color');
    @include retina2 {
      background-image: getColor('hero-gradient'), url('/img/hero_bg_mobile-2x.jpg');
    }
    
    @include tablet {
      background-image: getColor('hero-gradient'), url('/img/hero_bg_tablet.jpg');
      @include retina2 {
        background-image: getColor('hero-gradient'), url('/img/hero_bg_tablet-2x.jpg');
      }
    }

    @include desktop {
      max-width: 1600px;
      min-height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: getColor('hero-gradient'), url('/img/hero_bg_desktop.jpg');
      @include retina2 {
        background-image: getColor('hero-gradient'), url('/img/hero_bg_desktop-2x.jpg');
      }
    }
  }

  .hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 360px;
    color: getColor('white-logo-color');
    @include font (900, 26, 1.62, 0.06);
    text-transform: uppercase;
    text-align: center;

    @include desktop {
      @include font (900, 44, 1.36, 0.06);
      max-width: 696px;
    }
  }

  .hero-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 24px;
    @extend .button;

    @include desktop {
      padding: 10px 32px;
    }
  }