.work {
    background-color: getColor('white-logo-color');
}

  .work-list {
    @extend .list;
    display: flex;
    gap: 30px;
      
    &__item {
      position: relative;
    }

    &__inner {
      position: absolute;
      bottom: 0;
      background-color: rgba(47, 48, 58, 0.8);
      padding-top: 27px;
      padding-bottom: 27px;
      width: 100%;
      pointer-events: none;
    }

    &__text {
      @include font (700, 14, 1.14, 0.03);
      text-align: center;
      text-transform: uppercase;
      color: getColor('white-logo-color');
    }
  }