.current {
    color: getColor('accent-color');
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      background-color: currentColor;
      border-radius: 2px;
      width: 100%;
      height: 4px;
    }
  }