@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url('/fonts/raleway-v28-latin_cyrillic-700.eot');
  src: local("O"), url("/fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), 
      url("/fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), 
      url("/fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), 
			url("/fonts/raleway-v28-latin_cyrillic-700.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url("/fonts/roboto-v30-latin_cyrillic-regular.eot");
	src: local("O"), url("/fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), 
      url("/fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), 
			url("/fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), 
			url("/fonts/roboto-v30-latin_cyrillic-regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url("/fonts/roboto-v30-latin_cyrillic-500.eot");
	src: local("O"), url("/fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), 
      url("/fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), 
			url("/fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), 
			url("/fonts/roboto-v30-latin_cyrillic-500.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url("/fonts/roboto-v30-latin_cyrillic-700.eot");
	src: local("O"), url("/fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), 
      url("/fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), 
			url("/fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), 
			url("/fonts/roboto-v30-latin_cyrillic-700.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url("/fonts/roboto-v30-latin_cyrillic-900.eot");
	src: local("O"), url("/fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), 
      url("/fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), 
			url("/fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), 
			url("/fonts/roboto-v30-latin_cyrillic-900.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
  }